.filter {
    max-width: 500px;
}
.filter p {
margin-top: 20px;
margin-bottom: 10px;
}
.filter input {
    max-width: 250px;
    height: 25px;
    border: 3px outset rgba(100, 100, 100, 0.85);
    border-radius: 5px;
    margin-bottom: 10px;
}